.App {
  text-align: center;
  background-color: rgb(116, 138, 238);
}

.App-logo {
  height: 40vmin;
}

.widget1{
  background-color: rgb(86, 106, 194) ;
  border: 3px solid blue;
}

.widget2{
  background-color: rgb(86, 106, 194) ;
  border: 3px solid blue;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.chart-wrapper {
  padding: 2%;
  display: inline-block;
}

.main.chart-wrapper {
  width: 96%;
  height: 400px;
}

.sub.chart-wrapper {
  width: 29%;
  height: 300px;
  background-color: rgb(254, 245, 231);
  border: 1px  solid black;
  border-radius : 15px;
}

/* Simple responsivenss example */
@media (max-width: 700px) {
  .sub.chart-wrapper {
    width: 96%;
  }
}

